
#main_content
{
 margin-top:27px;
 margin-bottom: 50px;
 
 margin-left:auto;
 margin-right: auto;
}
#main_content li
{
 display:inline;
 list-style-type:none;
 background-color:#688A08;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 color:#292A0A;
 font-weight:bold;
 cursor:pointer;
}
#main_content li.notselected
{
 background-color:#688A08;
 color:#fff;	
}
#main_content li.selected
{
 background-color:#D0F5A9;
 color:#292A0A;	
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color: rgb(241, 255, 240);
 padding:10px;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#000;
 line-height: 1.6em;
 word-spacing:4px;
}